#twisted-page .pseudo-el, #twisted-page #posts .post-container .post-single h3 span:before {
  content: "";
  position: absolute;
}

#twisted-page #posts {
  min-height: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: var(--color-one);
  padding: var(--global-padding);
  margin: 0 0 -10px 0;
}

#twisted-page #posts .post-container {
  width: calc(69% + 25px);
}

#twisted-page #posts .post-container .post-single {
  background: var(--white);
  padding: 40px;
  line-height: 1.6em;
  margin: 0 0 -100px 0;
}

#twisted-page #posts .post-container .post-single h3 {
  font-family: var(--title-font);
  font-size: 30px;
  text-align: center;
  min-height: unset;
}

#twisted-page #posts .post-container .post-single h3 span {
  display: inline-block;
}

#twisted-page #posts #post-options {
  width: calc(31% - 25px);
  padding: 40px 0 0 40px;
}

#twisted-page #posts #post-options .permalink-navigation {
  margin: 40px 0 0 0;
  font-family: var(--title-font);
  line-height: 2.5em;
}

#twisted-page #posts #post-options .permalink-navigation a {
  color: var(--white);
  border: none;
}

#twisted-page #posts #post-options .category {
  position: absolute;
  margin: -90px 0 0 0;
}

#twisted-page #posts #post-options .category .post-categories {
  margin: 0;
}

#twisted-page #posts #post-options .category .post-categories li {
  list-style: none;
  position: relative;
  display: none;
}

#twisted-page #posts #post-options .category .post-categories li a {
  color: var(--white);
  border: none;
}

#twisted-page #posts #post-options .category .post-categories li:before {
  content: "//";
  display: inline-block;
  margin-right: 5px;
  color: var(--white);
}

#twisted-page #posts #post-options .category .post-categories li:first-child {
  display: block;
}

#twisted-page #posts #post-options .item {
  margin-bottom: 24px;
}

#twisted-page #posts #post-options .item .item-title {
  cursor: pointer;
  font-family: var(--title-font);
  color: var(--white);
}

#twisted-page #posts #post-options .item .item-content {
  display: none;
}

#twisted-page #posts #post-options .item .post-info {
  color: var(--white);
  padding-left: 15px;
  margin: 15px 0 40px 0;
  border-left: 2px solid;
}

#twisted-page #posts #post-options .item .post-info span.title {
  font-weight: 600;
}

#twisted-page #posts #post-options .item .post-info .post-date {
  color: var(--white);
  margin: 15px 0 10px 0;
}

#twisted-page #posts #post-options .item .post-info .post-tags {
  margin: 15px 0 15px 0;
}

#twisted-page #posts #post-options .item .post-info .post-tags a {
  display: inline-block;
  margin-bottom: 4px;
  color: var(--white);
  opacity: 0.8;
  border-bottom-color: transparent;
}

#twisted-page #posts #post-options .item .post-info .post-tags a:hover {
  opacity: 1;
  border-bottom: 1px solid;
}

#twisted-page #posts #post-options .item .post-info .post-shortlink span.short {
  font-size: 14px;
  padding: 1px 5px;
  border-radius: 3px;
  background: rgba(255, 255, 255, 0.2);
}

#twisted-page #posts p {
  margin: 10px 0;
  text-align: justify;
}

#twisted-page #posts p:first-child {
  margin: 0 0 10px 0;
}

#twisted-page #posts blockquote {
  border-left: 3px solid var(--color-one);
  background: rgba(0, 0, 0, 0.1);
  margin: 5px 0;
  padding: 10px;
}

#twisted-page #posts blockquote p,
#twisted-page #posts blockquote p:first-child {
  margin: 0;
}

#twisted-page #posts .post a {
  border-bottom: 1px solid;
}

#twisted-page #posts ul {
  margin: 8px 0 8px 40px;
}

#twisted-page #posts ul li {
  list-style: unset;
}

#twisted-page #posts h2 {
  font-family: var(--title-font);
  margin: 20px 0 10px 0;
}

#twisted-page #posts .is-style-large {
  text-align: center;
  border-left: none;
  background: transparent;
  margin: 5px 0 10px 0;
}

#twisted-page #posts .is-style-large p {
  text-align: center;
  font-family: var(--alt-font);
  margin-bottom: 5px;
  font-size: 25px;
}

#twisted-page #posts .wp-block-pullquote {
  border-top: 3px solid var(--color-one);
  border-bottom: 3px solid var(--color-one);
  margin: 0;
  padding: 1em 0;
}

#twisted-page #posts .wp-block-pullquote blockquote {
  background: transparent;
  border-left: none;
}

#twisted-page #posts .wp-block-pullquote blockquote p {
  font-weight: 600;
  text-align: center;
}

#twisted-page #posts table {
  border-collapse: collapse;
  width: 100%;
}

#twisted-page #posts .wp-block-table figcaption {
  font-size: 13px;
  border: none;
  font-style: italic;
  margin-bottom: 0;
}

#twisted-page #posts .is-style-regular td, #twisted-page #posts .is-style-regular th {
  border: 1px solid var(--color-one);
  text-align: left;
  padding: 8px;
}

#twisted-page #posts .is-style-stripes td, #twisted-page #posts .is-style-stripes th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

#twisted-page #posts .is-style-stripes tr:nth-child(odd) {
  background-color: #eee;
}

#twisted-page #posts .wp-block-cover p {
  text-align: center;
}

#twisted-page #posts .blocks-gallery-grid,
#twisted-page #posts .wp-block-gallery {
  margin: 0;
}

#twisted-page #posts figcaption {
  text-align: center;
}

#twisted-page #posts .wp-block-media-text__content p.has-large-font-size {
  line-height: 1.4em;
  text-align: left;
  font-size: 25px;
  font-family: var(--alt-font);
}

#twisted-page #posts .type-page {
  width: 100%;
  position: relative;
  z-index: 1;
  top: -120px;
}

#twisted-page #first-section {
  min-height: unset !important;
}

#twisted-page #first-section .social-media {
  left: initial !important;
  right: var(--global-padding);
  bottom: 120px !important;
}

#twisted-page #first-section .social-media ul li {
  margin-right: 0;
  margin-left: 10px;
}

#twisted-page #first-section .left-container {
  margin-top: 0 !important;
  background: rgba(0, 0, 0, 0.4);
  padding: 160px var(--global-padding) 120px var(--global-padding);
  width: 65%;
}

#twisted-page #first-section .description {
  opacity: 0.8;
}
/*# sourceMappingURL=page.css.map */