\:root
  --default-font: "Open Sans", sans-serif
  --title-font: "IBM Plex Mono", monospace
  --alt-font: "Playfair Display", serif
  --global-padding: 50px
  --white: #fff
  --color-one: #222

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: var(--default-font)

  a,
  a:hover
    text-decoration: none
    cursor: pointer

  li
    list-style: none

.transition-4ms
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  -ms-transition: all 0.4s ease-in-out
  -o-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out

.pseudo-el
  content: ""
  position: absolute

header
  position: absolute
  width: 100%
  z-index: 99
  padding: var(--global-padding)
  display: flex
  align-items: center
  justify-content: space-between
  font-family: var(--title-font)
  font-size: 15px
  @extend .transition-4ms

  a
    color: var(--white)

  a:hover
    text-decoration: underline

  h2
    font-weight: 500

    a:hover
      text-decoration: none
      opacity: 0.8

    span
      display: inline-block
      position: relative

    span:before,
    span:after
      @extend .pseudo-el
      width: 25%
      height: 3px
      background: var(--white)
      bottom: -12px

    span:before
      left: 0

    span:after
      opacity: 0.5
      left: calc( 25% + 4px )

  nav
    text-align: right

    li
      display: inline-flex
      margin-left: 32px

header.scrolled
  backdrop-filter: blur(2px)
  position: fixed
  background: rgba(0, 0, 0, 0.7)
  padding: 20px var(--global-padding)
  @extend .transition-4ms

  h2
    span:before,
    span:after
      display: none

section
  min-height: 100vh
  display: flex

#first-section
  background-size: cover !important
  position: relative

  .social-media
    position: absolute
    bottom: var(--global-padding)
    left: var(--global-padding)
    z-index: 9

    ul
      font-size: 30px

      li
        display: inline-block
        margin-right: 16px

        a
          color: #fff

  .left-container,
  .right-container
    z-index: 1
    position: relative
    margin-top: 160px

  .left-container
    width: 50%
    padding-left: var(--global-padding)
    color: var(--white)

    h1
      font-family: var(--title-font)
      font-size: 48px

    .description
      margin-top: 16px
      font-size: 15px

  .right-container
    width: 35%
    margin-left: 15%
    padding-right: var(--global-padding)

    .review
      display: flex
      border-radius: 2px
      overflow: hidden
      margin: 0 0 32px -80px
      font-family: var(--title-font)

      .icon,
      .information-container
        display: inline-flex
        align-items: center

      .icon
        padding: 10px 15px
        background: var(--white)

        img
          border-radius: 100%
          width: 50px
          height: 50px

      .information-container
        background: #F9F9F9
        width: 100%
        padding-left: 16px

        .star-rate
          position: relative

        .star-rate:before
          display: block
          font-style: normal
          font-variant: normal
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          font-family: "Font Awesome 5 Free"
          font-weight: 900
          content: "\f005 \f005 \f005 \f005 \f005"
          font-size: 12px
          color: #E1C323
          letter-spacing: 3px
          margin-top: 5px

#first-section:after
  @extend .pseudo-el
  right: 0
  top: 0
  background: #111
  width: 35%
  height: 100%
  z-index: 0

#posts
  background: var(--color-one)
  padding: var(--global-padding)
  flex: unset

  #posts-container
    width: 100% !important

    img
      margin-bottom: -6px

    .post
      width: 25%
      background: var(--white)
      overflow: hidden
      object-fit: cover

      img
        max-width: 100%
        height: auto

      .post-description
        height: 100%
        padding: 20px
        border-right: 1px solid #eee
        border-bottom: 1px solid #eee

        h3
          margin-bottom: 10px
          color: var(--color-one)
          font-family: var(--title-font)

          a
            color: var(--color-one)

    .post-tam-2
      width: 50%

.first-section-single
  min-height: unset

  .social-media
    left: initial !important
    right: var(--global-padding)
    bottom: 120px !important

    ul
      li
        margin-right: 0
        margin-left: 10px

  .left-container
    margin-top: 0 !important
    background: rgba(0, 0, 0, 0.4)
    // backdrop-filter: blur(1px)
    padding: 160px var(--global-padding) var(--global-padding) var(--global-padding)
    width: 65% !important

  .description
    opacity: 0.8

#posts,
#single-post-container
  p
    margin: 10px 0
    text-align: justify

  p:first-child
    margin: 0 0 10px 0

  blockquote
    border-left: 3px solid var(--color-one)
    background: rgba(0, 0, 0, 0.1)
    margin: 5px 0
    padding: 10px

    p,
    p:first-child
      margin: 0

  a
    border-bottom: 1px solid

  ul
    margin: 8px 0 8px 40px

    li
      list-style: unset

  h2
    font-family: var(--title-font)
    margin: 20px 0 10px 0

  .is-style-large
    text-align: center
    border-left: none
    background: transparent
    margin: 5px 0 10px 0

    p
      text-align: center
      font-family: var(--alt-font)
      margin-bottom: 5px
      font-size: 25px

  .wp-block-pullquote
    border-top: 3px solid var(--color-one)
    border-bottom: 3px solid var(--color-one)
    margin: 0
    padding: 1em 0

    blockquote
      background: transparent
      border-left: none

      p
        font-weight: 600
        text-align: center

  table
    border-collapse: collapse
    width: 100%

  .wp-block-table
    figcaption
      font-size: 13px
      border: none
      font-style: italic
      margin-bottom: 0

  .is-style-regular
    td, th
      border: 1px solid var(--color-one)
      text-align: left
      padding: 8px

  .is-style-stripes
    td, th
      border: 1px solid #dddddd
      text-align: left
      padding: 8px

    tr:nth-child(odd)
      background-color: #eee

  .wp-block-cover
    p
      text-align: center

  .blocks-gallery-grid,
  .wp-block-gallery
    margin: 0

  figcaption
    text-align: center

  .wp-block-media-text__content
    p.has-large-font-size
      line-height: 1.4em
      text-align: left
      font-size: 25px
      font-family: var(--alt-font)

#single-post-container
  min-height: unset
  display: flex
  background: var(--color-one)
  padding: var(--global-padding)

  .post-container
    width: calc(69% + 25px)

    .post-single
      background: var(--white)
      margin: 0 var(--global-padding) 0 0
      padding: 40px
      line-height: 1.6em

      h3
        font-family: var(--title-font)
        font-size: 30px

        span
          display: inline-block
          position:

        span:before
          @extend .pseudo-el

  #post-options
    width: calc(31% - 25px)
    padding: 40px 0 0 40px

    .category
      position: absolute
      margin: -90px 0 0 0

      .post-categories
        margin: 0

        li
          list-style: none
          position: relative
          display: none

          a
            color: var(--white)
            border: none

        li:before
          content: "//"
          display: inline-block
          margin-right: 5px
          color: var(--white)

        li:first-child
          display: block

    .item
      margin-bottom: 24px

      .item-title
        cursor: pointer
        font-family: var(--title-font)
        color: var(--white)

      .item-content
        display: none

        .comments-box

        .share-buttons
          margin: 15px 0 40px 0
          display: flex
          justify-content: space-between

          li
            list-style: none

            a
              border: none
              color: var(--white)
              font-size: 30px

            a.share-facebook:hover
              color: #4267B2

            a.share-twitter:hover
              color: #1DA1F2

            a.share-pinterest:hover
              color: #E60023

            a.share-linkedin:hover
              color: #0072b1

            a.share-whatsapp:hover
              color: #25D366

            a.share-email:hover
              color: #888

      .post-info
        //font-family: var(--title-font)
        color: var(--white)
        //font-size: 15px
        padding-left: 15px
        margin: 15px 0 40px 0
        border-left: 2px solid

        span.title
          font-weight: 600

        .post-date
          color: var(--white)
          margin: 15px 0 10px 0

        .post-tags
          margin: 15px 0 15px 0

          a
            display: inline-block
            margin-bottom: 4px
            color: var(--white)
            opacity: 0.8
            border-bottom-color: transparent

          a:hover
            opacity: 1
            border-bottom: 1px solid

        .post-shortlink
          span.short
            font-size: 14px
            padding: 1px 5px
            border-radius: 3px
            background: rgba(255, 255, 255, 0.2)

  .type-page
    width: 100%

    .post-single
      margin: 0

      h3
        text-align: center

.page-container
  padding: 0 !important

  .post-container
    width: 65% !important
    position: relative
    top: -70px
    z-index: 1

    .post-single
      margin: 0 0 0 var(--global-padding) !important

  .comments-box
    width: 35% !important

.first-section-single .left-container
  padding-bottom: 120px

.type-page
  position: relative
  z-index: 1
  top: -120px

#testimonial
  min-height: unset
  -webkit-box-shadow: 0 3px 5px 0 var(--color-one)
  box-shadow: 0 3px 5px 0 var(--color-one)
  position: relative
  z-index: 1

  .slide-container
    width: 100%
    overflow: hidden
    height: 500px
    position: relative
    color: var(--white)

    .slide
      height: 500px
      overflow: hidden
      position: absolute
      top: 0
      left: 100%
      width: 100%
      @extend .transition-4ms

      img.slide-background
        min-width: 100%
        object-fit: cover

      .slide-description-overlay
        position: absolute
        top: 0
        background: rgba(0, 0, 0, 0.5)
        backdrop-filter: blur(2px)
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center

        .slide-description
          max-width: 55%
          text-align: center

          img
            border-radius: 100%
            width: 60px
            height: 60px
            object-fit: contain
            display: block
            margin: 0 auto 16px auto

          h3
            font-size: 24px
            margin: 0 0 16px 0

          p
            font-style: italic

    .active
      left: 0
      @extend .transition-4ms

    .navigation
      width: 100%
      position: absolute
      z-index: 5
      left: 0
      bottom: 40px
      text-align: center

      a.navigation-button
        background: rgba(255, 255, 255, 0.5)
        width: 50px
        height: 5px
        display: inline-block
        margin: 0 5px

      .active-button
        background: var(--white) !important

#contact
  background: #111 url("../images/contact-section-bg.jpg")
  background-size: 100% auto
  min-height: unset
  color: var(--white)

  .left-container
    width: 40%
    padding: calc(var(--global-padding) + 40px) var(--global-padding)
    background: rgba(255, 255, 255, 0.1)
    font-family: var(--title-font)
    font-size: 45px

    i
      display: block

  .right-container
    width: 60%
    padding: calc(var(--global-padding) + 40px) var(--global-padding)

    label
      display: block
      font-family: var(--title-font)
      opacity: 0.8
      font-weight: 500
      margin-bottom: 5px

    input
      margin-bottom: 16px

    textarea
      resize: vertical

    input,
    textarea
      border: none
      padding: 16px
      outline: none
      width: 100%
      border-radius: 2px
      font-family: var(--default-font)

footer
  background: #000
  color: var(--white)

  .social-media
    background: #111
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 30px
    margin: 0px var(--global-padding)
    position: relative
    top: -30px

    a
      color: var(--white)

    ul
      li
        display: inline-block
        font-size: 24px
        margin-left: 16px

  .container
    display: flex
    padding: 10px calc(var(--global-padding) + 30px) calc(var(--global-padding) - 10px) calc(var(--global-padding) + 30px)

    h2
      width: 30%
      font-size: 28px
      font-family: var(--title-font)

      sub
        font-family: var(--default-font)
        font-size: 16px
        font-weight: 400
        font-size: mmedium
        display: block
        margin-top: 5px

    .footer-links
      -moz-column-count: 3
      -moz-column-gap: 20px
      -webkit-column-count: 3
      -webkit-column-gap: 20px
      column-count: 3
      column-gap: 20px
      width: 100%
      column-rule: 1px solid rgba(255, 255, 255, 0.1)

      li
        margin: 0 0 20px 5px

        a
          color: var(--white)

        a:hover
          opacity: 0.7
