\:root
  --default-font: "Open Sans", sans-serif
  --title-font: "IBM Plex Mono", monospace
  --alt-font: "Playfair Display", serif
  --global-padding: 50px
  --white: #fff
  --color-one: #222

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: var(--default-font)

  a,
  a:hover
    text-decoration: none
    cursor: pointer

  li
    list-style: none

.transition-4ms
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  -ms-transition: all 0.4s ease-in-out
  -o-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out

.pseudo-el
  content: ""
  position: absolute

header
  position: absolute
  width: 100%
  z-index: 99
  padding: var(--global-padding)
  display: flex
  align-items: center
  justify-content: space-between
  font-family: var(--title-font)
  font-size: 15px
  @extend .transition-4ms

  a
    color: var(--white)

  a:hover
    text-decoration: underline

  h2
    font-weight: 500

    a:hover
      text-decoration: none
      opacity: 0.8

    span
      display: inline-block
      position: relative

    span:before,
    span:after
      @extend .pseudo-el
      width: 25%
      height: 3px
      background: var(--white)
      bottom: -12px

    span:before
      left: 0

    span:after
      opacity: 0.5
      left: calc( 25% + 4px )

  nav
    text-align: right

    li
      display: inline-flex
      margin-left: 32px

header.scrolled
  backdrop-filter: blur(2px)
  position: fixed
  background: rgba(0, 0, 0, 0.7)
  padding: 20px var(--global-padding)
  @extend .transition-4ms

  h2
    span:before,
    span:after
      display: none

section
  min-height: 100vh
  display: flex

#first-section
  background-size: cover !important
  position: relative

  .social-media
    position: absolute
    bottom: var(--global-padding)
    left: var(--global-padding)
    z-index: 9

    ul
      font-size: 30px

      li
        display: inline-block
        margin-right: 16px

        a
          color: #fff

  .left-container,
  .right-container
    z-index: 1
    position: relative
    margin-top: 160px

  .left-container
    width: 50%
    padding-left: var(--global-padding)
    color: var(--white)

    h1
      font-family: var(--title-font)
      font-size: 48px

    .description
      margin-top: 16px
      font-size: 15px

  .right-container
    width: 35%
    margin-left: 15%
    padding-right: var(--global-padding)

    .review
      display: flex
      border-radius: 2px
      overflow: hidden
      margin: 0 0 32px -80px
      font-family: var(--title-font)

      .icon,
      .information-container
        display: inline-flex
        align-items: center

      .icon
        padding: 10px 15px
        background: var(--white)

        img
          border-radius: 100%
          width: 50px
          height: 50px

      .information-container
        background: #F9F9F9
        width: 100%
        padding-left: 16px

        .star-rate
          position: relative

        .star-rate:before
          display: block
          font-style: normal
          font-variant: normal
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          font-family: "Font Awesome 5 Free"
          font-weight: 900
          content: "\f005 \f005 \f005 \f005 \f005"
          font-size: 12px
          color: #E1C323
          letter-spacing: 3px
          margin-top: 5px

#first-section:after
  @extend .pseudo-el
  right: 0
  top: 0
  background: #111
  width: 35%
  height: 100%
  z-index: 0

#posts
  background: var(--color-one)
  padding: var(--global-padding)
  flex: unset

  #posts-container
    width: 100% !important

    img
      margin-bottom: -6px

    .post
      width: calc( 100vw / 4 - 30px )
      height: 15vw
      background: var(--white)
      overflow: hidden
      object-fit: cover

      img
        max-width: 100%
        height: auto

      .post-description
        height: 100%
        padding: 20px
        border-right: 1px solid #eee
        border-bottom: 1px solid #eee

        h3
          margin-bottom: 10px
          color: var(--color-one)
          font-family: var(--title-font)

          a
            color: var(--color-one)

.page-container
  padding: 0 !important

  .post-container
    width: 65% !important
    position: relative
    top: -70px
    z-index: 1

    .post-single
      margin: 0 0 0 var(--global-padding) !important

#testimonial
  min-height: unset
  -webkit-box-shadow: 0 3px 5px 0 var(--color-one)
  box-shadow: 0 3px 5px 0 var(--color-one)
  position: relative
  z-index: 1

  .slide-container
    width: 100%
    overflow: hidden
    height: 500px
    position: relative
    color: var(--white)

    .slide
      height: 500px
      overflow: hidden
      position: absolute
      top: 0
      left: 100%
      width: 100%
      @extend .transition-4ms

      img.slide-background
        min-width: 100%
        object-fit: cover

      .slide-description-overlay
        position: absolute
        top: 0
        background: rgba(0, 0, 0, 0.5)
        backdrop-filter: blur(2px)
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center

        .slide-description
          max-width: 55%
          text-align: center

          img
            border-radius: 100%
            width: 60px
            height: 60px
            object-fit: contain
            display: block
            margin: 0 auto 16px auto

          h3
            font-size: 24px
            margin: 0 0 16px 0

          p
            font-style: italic

    .active
      left: 0
      @extend .transition-4ms

    .navigation
      width: 100%
      position: absolute
      z-index: 5
      left: 0
      bottom: 40px
      text-align: center

      a.navigation-button
        background: rgba(255, 255, 255, 0.5)
        width: 50px
        height: 5px
        display: inline-block
        margin: 0 5px

      .active-button
        background: var(--white) !important

#contact
  background: #111 url("../images/contact-section-bg.jpg")
  background-size: 100% auto
  min-height: unset
  color: var(--white)

  .left-container
    width: 40%
    padding: calc(var(--global-padding) + 40px) var(--global-padding)
    background: rgba(255, 255, 255, 0.1)
    font-family: var(--title-font)
    font-size: 45px

    i
      display: block

  .right-container
    width: 60%
    padding: calc(var(--global-padding) + 40px) var(--global-padding)

    label
      display: block
      font-family: var(--title-font)
      opacity: 0.8
      font-weight: 500
      margin-bottom: 5px

    input
      margin-bottom: 16px

    textarea
      resize: vertical

    input,
    textarea
      border: none
      padding: 16px
      outline: none
      width: 100%
      border-radius: 2px
      font-family: var(--default-font)

.share-buttons
  margin: 15px 0 40px 0
  display: flex
  justify-content: space-between

  li
    list-style: none

    a
      border: none
      color: var(--white)
      font-size: 30px

    a.share-facebook:hover
      color: #4267B2

    a.share-twitter:hover
      color: #1DA1F2

    a.share-pinterest:hover
      color: #E60023

    a.share-linkedin:hover
      color: #0072b1

    a.share-whatsapp:hover
      color: #25D366

    a.share-email:hover
      color: #888

.comments-box
  background: var(--color-one)
  color: #fff
  padding: 10px var(--global-padding) calc(var(--global-padding) + 20px) var(--global-padding)

.comments-box a:hover
  color: #fff

.comments-box h3
  color: var(--white)
  font-family: var(--title-font)
  font-size: 18px
  font-weight: 400
  padding-bottom: 20px

  .comments-title
    margin-bottom: 20px

.comments-box label
  display: block

  .wp-comment-cookies-consent
    display: inline-block
    width: auto

.comments-box input[type="checkbox"]
  width: auto
  display: inline-block

.comments-box .comment-notes,
.comments-box p.logged-in-as
  font-style: italic
  margin-bottom: 25px

.comments-box textarea,
.comments-box input
  background: rgba(255, 255, 255, 0.1)
  border: 1px solid rgba(255, 255, 255, 0.2)
  color: #fff
  width: 100%
  padding: 5px 10px

.comments-box textarea:focus,
.comments-box input:focus
  outline: 2px solid var(--white)
  outline-offset: -1px

.comments-box input[type="submit"]
  background: var(--white)
  text-transform: uppercase
  font-weight: 600
  border-color: var(--white)
  padding: 10px

.comments-box input[type="submit"]:focus
  text-decoration: line-through
  -webkit-box-shadow: inset 0 -100px 0 0 rgba(0, 0, 0, 0.2)
  box-shadow: inset 0 -100px 0 0 rgba(0, 0, 0, 0.2)

.comments-box
  ol.commentlist
    margin: 0 0 30px 0
    padding: 0 0 10px 0
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)

    li
      list-style: none

      p
        padding: 10px 10px 0 10px
        text-align: justify

.comments-box
  .comment-body
    margin-bottom: 30px
    background: var(--white)
    color: var(--color-one)

    a:hover
      color: var(--color-one)

.comments-box
  .comment-author
    position: relative
    overflow: hidden

.comments-box
  cite.fn
    a
      color: var(--color-one)

.comments-box
  cite.fn,
  span.says
    margin-left: 10px

.comments-box
  .comment-author
    display: flex
    align-items: center
    padding: 10px
    font-weight: 600
    font-family: var(--title-font)

    img
      max-width: 60px
      height: auto
      border-radius: 100%

.comments-box
  ul.children
    li
      margin-left: 20px

      .comment-body
        background: rgba(255, 255, 255, 0.1)
        color: var(--white)

      .comment-author img
        max-width: 45px !important
        border-radius: 100%

.comments-box
  ul.children .comment-author:before
    left: 40px

.comments-box
  .comment-meta.commentmetadata
    padding: 0 10px 10px 10px
    border-bottom: 1px solid rgba(0, 0, 0, 0.1)
    margin: -5px 0 0 0

    a
      color: var(--color-one)

.comments-box
  .reply
    margin: 10px 0 0 0
    display: block
    padding: 10px
    text-transform: uppercase
    font-size: 13px
    font-weight: 600
    border-top: 1px solid #eee

.comments-box
  a#cancel-comment-reply-link
    display: block

.comments-box
  #respond
    padding: 0 15%

.author-page
  min-height: unset

  .left-container
    padding-bottom: 50px

    a
      color: var(--white)
      font-style: italic

  .social-media
    left: initial !important
    right: var(--global-padding)
    margin-bottom: 10px

    ul
      li
        margin-right: 0
        margin-left: 10px

.author-page-posts
  .post
    width: 20% !important

footer
  background: #000
  color: var(--white)

  .social-media
    background: #111
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 30px
    margin: 0px var(--global-padding)
    position: relative
    top: -30px

    a
      color: var(--white)

    ul
      li
        display: inline-block
        font-size: 24px
        margin-left: 16px

  .container
    display: flex
    padding: 10px calc(var(--global-padding) + 30px) calc(var(--global-padding) - 10px) calc(var(--global-padding) + 30px)

    h2
      width: 30%
      font-size: 28px
      font-family: var(--title-font)

      sub
        font-family: var(--default-font)
        font-size: 16px
        font-weight: 400
        font-size: mmedium
        display: block
        margin-top: 5px

    .footer-links
      -moz-column-count: 3
      -moz-column-gap: 20px
      -webkit-column-count: 3
      -webkit-column-gap: 20px
      column-count: 3
      column-gap: 20px
      width: 100%
      column-rule: 1px solid rgba(255, 255, 255, 0.1)

      li
        margin: 0 0 20px 5px

        a
          color: var(--white)

        a:hover
          opacity: 0.7
