@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500;1,600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap')

\:root
  --default-font: "Open Sans", sans-serif
  --title-font: "IBM Plex Mono", monospace
  --alt-font: "Playfair Display", serif
  --global-padding: 50px
  --white: #fff
  --color-one: #222

*
  box-sizing: border-box
  margin: 0
  padding: 0

body
  font-family: var(--default-font)
  background: var(--color-one)

  a,
  a:hover
    text-decoration: none
    cursor: pointer

  li
    list-style: none

  a.skip-main
    left: 0
    top: auto
    overflow: hidden
    display: none
    opacity: 0

.transition-4ms
  -webkit-transition: all 0.4s ease-in-out
  -moz-transition: all 0.4s ease-in-out
  -ms-transition: all 0.4s ease-in-out
  -o-transition: all 0.4s ease-in-out
  transition: all 0.4s ease-in-out

.transition-3ms
  -webkit-transition: all 0.3s ease-in-out
  -moz-transition: all 0.3s ease-in-out
  -ms-transition: all 0.3s ease-in-out
  -o-transition: all 0.3s ease-in-out
  transition: all 0.3s ease-in-out

.pseudo-el
  content: ""
  position: absolute

.pgScroll
  position: relative
  top: 100px
  @extend .transition-3ms

header
  position: absolute
  width: 100%
  z-index: 99
  padding: var(--global-padding)
  display: flex
  align-items: center
  justify-content: space-between
  font-family: var(--title-font)
  font-size: 15px
  @extend .transition-4ms

  a
    color: var(--white)

  a:hover
    text-decoration: underline

  h2
    font-weight: 500

    a:hover
      text-decoration: none
      opacity: 0.8

    span
      display: inline-block
      position: relative

    span:before,
    span:after
      @extend .pseudo-el
      width: 25%
      height: 3px
      background: var(--white)
      bottom: -12px

    span:before
      left: 0

    span:after
      opacity: 0.5
      left: calc( 25% + 4px )

  nav
    text-align: right
    display: flex
    align-items: center

    ul
      li
        display: inline-flex
        margin-left: 32px

    a.sidebar-button
      font-size: 20px
      margin: 0 0 0 32px
      position: relative
      text-decoration: none

    a.open-sidebar:before
      content: "\f0c9"
      font-style: normal
      font-variant: normal
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      font-family: "Font Awesome 5 Free"
      font-weight: 900

    a.close-sidebar:before
      content: "\f00d"
      font-style: normal
      font-variant: normal
      text-rendering: auto
      -webkit-font-smoothing: antialiased
      font-family: "Font Awesome 5 Free"
      font-weight: 900

    ul.twisted-home-menu
      display: flex
      justify-content: center
      align-items: center

      li
        display: none

      li:nth-child(1),
      li:nth-child(2)
        display: inline-flex

      li.current-menu-item,
      li.current_page_item
        font-weight: 600
        text-decoration: underline

#controls
  position: fixed
  display: none
  background: #141414
  backdrop-filter: blur(2px)
  left: 0
  width: 100%
  height: 100vh
  top: 0px
  padding: 140px var(--global-padding) var(--global-padding) var(--global-padding)
  z-index: 99
  overflow-y: auto

  .twisted-sidebar-menu,
  .searchform
    position: relative
    left: 0
    animation-name: aside
    animation-duration: 0.8s

  .twisted-sidebar-menu
    border-top: 1px solid rgba(255, 255, 255, 0.1)
    padding-top: 40px
    margin: 40px 0 0 0
    column-count: 4
    column-gap: 20px
    font-family: var(--title-font)

    li
      margin: 0 0 30px 0

      a
        color: var(--white)

      a:hover
        text-decoration: underline

    li.current-menu-item,
    li.current_page_item
      font-weight: 600
      font-style: italic

    li.current-menu-item a,
    li.current_page_item a
      position: relative

    li.current-menu-item a:before,
    li.current_page_item a:before
      content: "/"
      display: inline-block
      margin-right: 10px

  .searchform
    div
      display: flex

      #s,
      #searchsubmit
        outline: none
        border: none

      #s
        background: rgba(255, 255, 255, 0.2)
        color: var(--white)
        border-radius: 2px 0 0 2px
        padding: 11px 15px
        width: 100%

      #s:focus
        background: rgba(255, 255, 255, 0.4)
        outline: 1px solid var(--white)
        outline-offset: -1px

      #searchsubmit
        border-radius: 0 2px 2px 0
        background: var(--white)
        color: var(--color-one)
        padding: 0 20px
        cursor: pointer
        font-family: var(--title-font)

      #searchsubmit:hover
        font-weight: 600

      #searchsubmit:focus
        background: rgba(255, 255, 255, 0.8)

.sidebar-opened
  display: block !important

.sdb-open
  position: fixed
  z-index: 999 !important

  h2
    span:before,
    span:after
      display: inline-block !important

.sdb-open-pd
  padding-top: 60px !important
  background: transparent !important

header.scrolled
  backdrop-filter: blur(2px)
  position: fixed
  background: rgba(0, 0, 0, 0.7)
  padding: 20px var(--global-padding)
  @extend .transition-4ms

  h2
    span:before,
    span:after
      display: none

section
  min-height: 100vh
  display: flex

#first-section
  background-size: cover !important
  position: relative

  .social-media
    position: absolute
    bottom: var(--global-padding)
    left: var(--global-padding)
    z-index: 9

    ul
      font-size: 30px

      li
        display: inline-block
        margin-right: 16px

        a
          color: #fff

  .left-container,
  .right-container
    z-index: 1
    position: relative
    padding: 160px var(--global-padding) 120px var(--global-padding)

  .left-container
    background: rgba(0, 0, 0, 0.2)
    width: 65%
    color: var(--white)

    h1,
    .description
      left: 0
      position: relative
      @extend .transition-4ms
      animation-name: aside
      animation-duration: 1s
      width: 80%

    h1
      font-family: var(--title-font)
      font-size: 48px

    .description
      margin: 16px 0 0 0
      font-size: 15px

  .right-container
    width: 35%
    padding-right: var(--global-padding)

    .review
      display: flex
      border-radius: 2px
      overflow: hidden
      margin: 0 0 32px -130px
      font-family: var(--title-font)
      @extend .transition-3ms
      position: relative
      top: 150px

      .icon,
      .information-container
        display: inline-flex
        align-items: center

      .icon
        padding: 10px 15px
        background: var(--white)

        img
          border-radius: 100%
          width: 50px
          height: 50px

      .information-container
        background: #F9F9F9
        width: 100%
        padding-left: 16px

        .star-rate
          position: relative

        .star-rate:before
          display: block
          font-style: normal
          font-variant: normal
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          font-family: "Font Awesome 5 Free"
          font-weight: 900
          content: "\f005 \f005 \f005 \f005 \f005"
          font-size: 12px
          color: #E1C323
          letter-spacing: 3px
          margin-top: 5px

    .hidded
      opacity: 0

#first-section:after
  @extend .pseudo-el
  right: 0
  top: 0
  background: #111
  width: 35%
  height: 100%
  z-index: 0

#posts
  background: var(--color-one)
  padding: var(--global-padding)
  flex: unset

  #posts-container
    width: 100% !important

    img
      margin-bottom: -6px

    .post
      width: calc( 100vw / 4 - 40px )
      background: var(--white)
      overflow: hidden
      object-fit: cover
      margin-bottom: 10px

      img
        max-width: 100%
        height: auto

      .post-description
        height: 100%
        padding: 20px
        border-right: 1px solid #eee
        border-bottom: 1px solid #eee

        h3
          margin-bottom: 10px
          color: var(--color-one)
          font-family: var(--title-font)

          a
            color: var(--color-one)

#pagination
  padding: 0 var(--global-padding) 50px var(--global-padding)
  text-align: center

  .nav-links
    margin: 0 auto
    display: inline-block

    a,
    span.current
      display: inline-block
      margin: 0 0 5px 5px
      background: var(--white)
      color: var(--color-one)
      padding: 10px
      font-family: var(--title-font)
      min-width: 50px
      text-align: center

    span.current
      box-shadow: inset -50px 0 0 rgba(0, 0, 0, 0.1)

.page-container
  padding: 0 !important

  .post-container
    width: 65% !important
    position: relative
    top: -70px
    z-index: 1

    .post-single
      margin: 0 0 0 var(--global-padding) !important

#testimonial
  min-height: unset
  -webkit-box-shadow: 0 3px 5px 0 var(--color-one)
  box-shadow: 0 3px 5px 0 var(--color-one)
  position: relative
  z-index: 1

  .slide-container
    width: 100%
    overflow: hidden
    height: 500px
    position: relative
    color: var(--white)

    .slide
      height: 500px
      overflow: hidden
      position: absolute
      top: 0
      left: 100%
      width: 100%
      @extend .transition-4ms

      img.slide-background
        min-width: 100%
        object-fit: cover

      .slide-description-overlay
        position: absolute
        top: 0
        background: rgba(0, 0, 0, 0.5)
        backdrop-filter: blur(2px)
        height: 100%
        width: 100%
        display: flex
        justify-content: center
        align-items: center

        .slide-description
          max-width: 55%
          text-align: center

          img
            border-radius: 100%
            width: 60px
            height: 60px
            object-fit: contain
            display: block
            margin: 0 auto 16px auto

          h3
            font-size: 24px
            margin: 0 0 16px 0

          p
            font-style: italic

    .active
      left: 0
      @extend .transition-4ms

    .navigation
      width: 100%
      position: absolute
      z-index: 5
      left: 0
      bottom: 40px
      text-align: center

      a.navigation-button
        background: rgba(255, 255, 255, 0.5)
        width: 50px
        height: 5px
        display: inline-block
        margin: 0 5px 5px 5px

      .active-button
        background: var(--white) !important

#contact
  background: #111 url("../images/contact-section-bg.jpg")
  background-size: cover
  min-height: unset
  color: var(--white)

  .left-container
    width: 40%
    padding: calc(var(--global-padding) + 30px) var(--global-padding) calc(var(--global-padding) + 40px) var(--global-padding)
    background: rgba(255, 255, 255, 0.1)
    font-family: var(--title-font)
    font-size: 45px
    backdrop-filter: blur(2px)

    i
      display: block

  .right-container
    width: 60%
    padding: calc(var(--global-padding) + 40px) var(--global-padding)

    p
      margin: 0

    label
      display: block
      font-family: var(--title-font)
      font-weight: 500
      color: rgba(255, 255, 255, 0.8)

    input
      margin-bottom: 16px
      opacity: 1

    textarea
      resize: vertical
      height: 100px

    input,
    textarea
      border: none
      padding: 12px
      outline: none
      width: 100%
      border-radius: 2px
      font-family: var(--default-font)

    form:hover span.required
      opacity: 1

    .wpcf7-form-control-wrap
      margin-top: 5px
      display: block

    input[type="submit"]
      margin-top: 20px
      margin-bottom: 0
      color: var(--white)
      font-family: var(--title-font)
      background: rgba(255, 255, 255, 0.3)
      width: 100%
      border: none
      border-radius: 2px
      padding: 16px
      cursor: pointer

    input[type="submit"]:focus
      font-weight: 600
      background: rgba(255, 255, 255, 0.5)
      -webkit-box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.1)
      box-shadow: 0 3px 5px 0 rgba(255, 255, 255, 0.1)

    span.required
      vertical-align: super
      font-size: small
      opacity: 0

.share-buttons
  margin: 15px 0 40px 0
  display: flex
  justify-content: space-between

  li
    list-style: none

    a
      border: none
      color: var(--white)
      font-size: 30px

    a.share-facebook:hover
      color: #4267B2

    a.share-twitter:hover
      color: #1DA1F2

    a.share-pinterest:hover
      color: #E60023

    a.share-linkedin:hover
      color: #0072b1

    a.share-whatsapp:hover
      color: #25D366

    a.share-email:hover
      color: #888

.comments-box
  background: var(--color-one)
  color: #fff
  padding: 10px var(--global-padding) calc(var(--global-padding) + 20px) var(--global-padding)

  a
    color: var(--color-one)

  a:hover
    color: #fff

  h3
    color: var(--white)
    font-family: var(--title-font)
    font-size: 18px
    font-weight: 400
    padding-bottom: 20px

    .comments-title
      margin-bottom: 20px

  label
    display: block
    font-family: var(--title-font)
    margin: 10px 0 5px 0

  label[for="wp-comment-cookies-consent"]
    margin: 0 0 0 10px

  .comment-notes
    opacity: 0.8

  .comment-notes,
  p.logged-in-as
    font-style: italic
    margin-bottom: 25px

  p.logged-in-as
    a
      color: var(--white)

  #email-notes
    display: inline-block
    margin: 0 5px 0 0

  #reply-title
    font-weight: 600

  input[type="checkbox"]
    width: auto
    display: inline-block
    outline: none

  .form-submit
    margin: 30px 0 0 0

  .comment-form-cookies-consent
    margin: 10px 0 0 0
    display: flex
    align-items: center

  textarea,
  input
    background: rgba(255, 255, 255, 0.1)
    color: #fff
    width: 100%
    padding: 12px
    border-radius: 2px
    border: none
    font-family: var(--default-font)
    font-size: 15px

  textarea
    resize: vertical
    height: 100px

  textarea:focus,
  input:focus
    outline: 1px solid var(--white)
    outline-offset: -1px

  input[type="submit"]
    background: rgba(255, 255, 255, 0.3)
    border-color: var(--white)
    padding: 15px
    font-family: var(--title-font)
    font-size: 16px
    cursor: pointer

  input[type="submit"]:focus
    outline: none
    text-decoration: underline
    background: rgba(255, 255, 255, 0.3)

  input[type="checkbox"]:focus
    outline: none

  ol.commentlist
    margin: 0 0 30px 0
    padding: 0 0 10px 0
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)

    li
      list-style: none

      p
        padding: 10px 20px 0 20px
        text-align: justify

        a
          border-bottom: 1px dotted

  .comment-body
    margin-bottom: 30px
    background: var(--white)
    color: var(--color-one)

    a:hover
      color: var(--color-one)

  cite.fn
    a
      color: var(--color-one)

  span.says
    margin-left: 10px

  .comment-author
    display: flex
    align-items: center
    padding: 20px
    font-weight: 600
    font-family: var(--title-font)
    position: relative
    overflow: hidden
    font-size: 17px

    img
      display: none

    a
      text-transform: capitalize

  em.comment-awaiting-moderation
    margin: -17px 0 5px 20px
    display: block

  ul.children
    li
      margin-left: 20px

      .comment-body
        background: rgba(255, 255, 255, 0.9)

  .comment-meta.commentmetadata
    padding: 0 20px 10px 20px
    margin: -15px 0 0 0
    font-family: var(--title-font)
    font-weight: 500
    font-size: 14px

    a
      color: var(--color-one)
      position: relative
      z-index: 1

  .reply
    margin: 0px 0 0 0
    display: block
    padding: 20px
    font-family: var(--title-font)
    font-weight: 500
    font-size: 14px

  a#cancel-comment-reply-link
    display: block
    color: var(--white)
    margin: 10px 0 0 0

  #respond
    padding: 0 15%

// author pagee

.author-page
  min-height: unset

  .left-container
    padding-bottom: 50px

    a
      color: var(--white)
      font-style: italic

  .social-media
    left: initial !important
    right: var(--global-padding)
    margin-bottom: 10px

    ul
      li
        margin-right: 0
        margin-left: 10px

footer
  background: #000
  color: var(--white)

  .social-media
    background: #111
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px 30px
    margin: 0px var(--global-padding)
    position: relative
    top: -30px

    a
      color: var(--white)

    ul
      li
        display: inline-block
        font-size: 24px
        margin-left: 16px

      li.current-menu-item,
      li.current_page_item
        font-weight: 600

  .container
    display: flex
    padding: 10px calc(var(--global-padding) + 30px) calc(var(--global-padding) - 10px) calc(var(--global-padding) + 30px)

    h2
      width: 30%
      font-size: 28px
      font-family: var(--title-font)

      sub
        font-family: var(--default-font)
        font-size: 16px
        font-weight: 400
        font-size: mmedium
        display: block
        margin-top: 5px

    .footer-links
      column-count: 3
      column-gap: 20px
      width: 100%
      column-rule: 1px solid rgba(255, 255, 255, 0.1)

      li
        margin: 0 0 20px 5px

        a
          color: var(--white)

        a:hover
          opacity: 0.7

#scroll-top
  position: fixed
  z-index: 5
  display: none
  bottom: 20px
  right: 20px
  color: var(--white)
  background: var(--color-one)
  padding: 10px 15px
  box-shadow: inset 50px 50px 0 rgba(0, 0, 0, 0.4)
  animation-name: scrolltop
  animation-duration: 0.5s
  border-radius: 2px

// Single Post
#twisted-single-post
  .pseudo-el
    content: ""
    position: absolute

  #posts
    min-height: unset
    display: flex
    background: var(--color-one)
    padding: var(--global-padding)
    margin: 0 0 -10px 0

    p
      margin: 10px 0
      text-align: justify

    p:first-child
      margin: 0 0 10px 0

    blockquote
      border-left: 3px solid var(--color-one)
      background: rgba(0, 0, 0, 0.1)
      margin: 5px 0
      padding: 10px

      p,
      p:first-child
        margin: 0

    .post
      a
        border-bottom: 1px solid

      ul
        margin: 8px 0 8px 40px

        li
          list-style: unset

    h2
      font-family: var(--title-font)
      margin: 20px 0 10px 0

    .is-style-large
      text-align: center
      border-left: none
      background: transparent
      margin: 5px 0 10px 0

      p
        text-align: center
        font-family: var(--alt-font)
        margin-bottom: 5px
        font-size: 25px

    .wp-block-pullquote
      border-top: 3px solid var(--color-one)
      border-bottom: 3px solid var(--color-one)
      margin: 0
      padding: 1em 0

      blockquote
        background: transparent
        border-left: none

        p
          font-weight: 600
          text-align: center

    table
      border-collapse: collapse
      width: 100%

    .wp-block-table
      figcaption
        font-size: 13px
        border: none
        font-style: italic
        margin-bottom: 0

    .is-style-regular
      td, th
        border: 1px solid var(--color-one)
        text-align: left
        padding: 8px

    .is-style-stripes
      td, th
        border: 1px solid #dddddd
        text-align: left
        padding: 8px

      tr:nth-child(odd)
        background-color: #eee

    .wp-block-cover
      p
        text-align: center

    .blocks-gallery-grid,
    .wp-block-gallery
      margin: 0

    figcaption
      text-align: center

    .wp-block-media-text__content
      p.has-large-font-size
        line-height: 1.4em
        text-align: left
        font-size: 25px
        font-family: var(--alt-font)

    .post-container
      width: calc(69% + 25px)

      .post-single
        background: var(--white)
        margin: 0 var(--global-padding) 0 0
        padding: 40px
        line-height: 1.6em

        h3
          font-family: var(--title-font)
          font-size: 30px

          span
            display: inline-block
            position:

          span:before
            @extend .pseudo-el

    #post-options
      width: calc(31% - 25px)
      padding: 40px 0 0 40px

      .permalink-navigation
        margin: 40px 0 0 0
        font-family: var(--title-font)
        line-height: 2.5em

        a
          color: var(--white)
          border: none

      .category
        position: absolute
        margin: -90px 0 0 0

        .post-categories
          margin: 0

          li
            list-style: none
            position: relative
            display: none

            a
              color: var(--white)
              border: none

          li:before
            content: "//"
            display: inline-block
            margin-right: 5px
            color: var(--white)

          li:first-child
            display: block

      .item
        margin-bottom: 24px

        .item-title
          cursor: pointer
          font-family: var(--title-font)
          color: var(--white)

        .item-content
          display: none

        .comments,
        .author
          margin: 15px 0 30px 0

          a
            color: var(--white)
            display: block
            text-decoration: underline

        .author
          text-transform: capitalize

        .comments
          .title
            font-style: italic
            color: var(--white)
            margin-bottom: 10px
            display: block
            opacity: 0.8

        .post-info
          //font-family: var(--title-font)
          color: var(--white)
          //font-size: 15px
          padding-left: 15px
          margin: 15px 0 40px 0
          border-left: 2px solid

          span.title
            font-weight: 600

          .post-date
            color: var(--white)
            margin: 15px 0 10px 0

          .post-tags
            margin: 15px 0 15px 0

            a
              display: inline-block
              margin-bottom: 4px
              color: var(--white)
              opacity: 0.8
              border-bottom-color: transparent

            a:hover
              opacity: 1
              border-bottom: 1px solid

          .post-shortlink
            span.short
              font-size: 14px
              padding: 1px 5px
              border-radius: 3px
              background: rgba(255, 255, 255, 0.2)

    .type-page
      width: 100%

      .post-single
        margin: 0

        h3
          text-align: center

  #first-section
    min-height: unset

    .social-media
      left: initial !important
      right: var(--global-padding)
      bottom: 120px !important

      ul
        li
          margin-right: 0
          margin-left: 10px

    .left-container
      margin-top: 0 !important
      background: rgba(0, 0, 0, 0.4)
      padding: 160px var(--global-padding) 120px var(--global-padding)
      width: 65%

    .description
      opacity: 0.8

  // Tablet
@media only screen and (max-width: 800px)
  #twisted-single-post
    #posts
      .post-container
        .post-single
          padding: var(--global-padding)

      #post-options
        padding: 20px 0 0 20px
        font-size: 13px

        .category
          margin: -60px 0 0 0

    .comments-box
      #respond
        padding: 0

// Phone
@media only screen and (max-width: 500px)
  #twisted-single-post
    #posts
      display: block

      .post-container
        width: calc(100% - var(--global-padding)) !important

        .post-single
          padding: var(--global-padding)

      #post-options
        padding: 0 calc( var(--global-padding) * 2) var(--global-padding) calc( var(--global-padding) * 2)
        font-size: 16px
        width: 100%
        margin: -30px 0 40px 0
        border-bottom: 1px solid rgba(255, 255, 255, 0.1)

        .category
          display: none

    .comments-box
      #respond
        padding: 0

// Page
#twisted-page
  .pseudo-el
    content: ""
    position: absolute

  #posts
    min-height: unset
    display: flex
    background: var(--color-one)
    padding: var(--global-padding)
    margin: 0 0 -10px 0

    .post-container
      width: calc(69% + 25px)

      .post-single
        background: var(--white)
        padding: 40px
        line-height: 1.6em
        margin: 0 0 -100px 0

        h3
          font-family: var(--title-font)
          font-size: 30px
          text-align: center
          min-height: unset

          span
            display: inline-block
            position:

          span:before
            @extend .pseudo-el

    #post-options
      width: calc(31% - 25px)
      padding: 40px 0 0 40px

      .permalink-navigation
        margin: 40px 0 0 0
        font-family: var(--title-font)
        line-height: 2.5em

        a
          color: var(--white)
          border: none

      .category
        position: absolute
        margin: -90px 0 0 0

        .post-categories
          margin: 0

          li
            list-style: none
            position: relative
            display: none

            a
              color: var(--white)
              border: none

          li:before
            content: "//"
            display: inline-block
            margin-right: 5px
            color: var(--white)

          li:first-child
            display: block

      .item
        margin-bottom: 24px

        .item-title
          cursor: pointer
          font-family: var(--title-font)
          color: var(--white)

        .item-content
          display: none

          .comments-box

        .post-info
          color: var(--white)
          padding-left: 15px
          margin: 15px 0 40px 0
          border-left: 2px solid

          span.title
            font-weight: 600

          .post-date
            color: var(--white)
            margin: 15px 0 10px 0

          .post-tags
            margin: 15px 0 15px 0

            a
              display: inline-block
              margin-bottom: 4px
              color: var(--white)
              opacity: 0.8
              border-bottom-color: transparent

            a:hover
              opacity: 1
              border-bottom: 1px solid

          .post-shortlink
            span.short
              font-size: 14px
              padding: 1px 5px
              border-radius: 3px
              background: rgba(255, 255, 255, 0.2)

    p
      margin: 10px 0
      text-align: justify

    p:first-child
      margin: 0 0 10px 0

    blockquote
      border-left: 3px solid var(--color-one)
      background: rgba(0, 0, 0, 0.1)
      margin: 5px 0
      padding: 10px

      p,
      p:first-child
        margin: 0

    .post
      a
        border-bottom: 1px solid

    ul
      margin: 8px 0 8px 40px

      li
        list-style: unset

    h2
      font-family: var(--title-font)
      margin: 20px 0 10px 0

    .is-style-large
      text-align: center
      border-left: none
      background: transparent
      margin: 5px 0 10px 0

      p
        text-align: center
        font-family: var(--alt-font)
        margin-bottom: 5px
        font-size: 25px

    .wp-block-pullquote
      border-top: 3px solid var(--color-one)
      border-bottom: 3px solid var(--color-one)
      margin: 0
      padding: 1em 0

      blockquote
        background: transparent
        border-left: none

        p
          font-weight: 600
          text-align: center

    table
      border-collapse: collapse
      width: 100%

    .wp-block-table
      figcaption
        font-size: 13px
        border: none
        font-style: italic
        margin-bottom: 0

    .is-style-regular
      td, th
        border: 1px solid var(--color-one)
        text-align: left
        padding: 8px

    .is-style-stripes
      td, th
        border: 1px solid #dddddd
        text-align: left
        padding: 8px

      tr:nth-child(odd)
        background-color: #eee

    .wp-block-cover
      p
        text-align: center

    .blocks-gallery-grid,
    .wp-block-gallery
      margin: 0

    figcaption
      text-align: center

    .wp-block-media-text__content
      p.has-large-font-size
        line-height: 1.4em
        text-align: left
        font-size: 25px
        font-family: var(--alt-font)

    .type-page
      width: 100%
      position: relative
      z-index: 1
      top: -120px

  #first-section
    min-height: unset !important

    .social-media
      left: initial !important
      right: var(--global-padding)
      bottom: 120px !important

      ul
        li
          margin-right: 0
          margin-left: 10px

    .left-container
      margin-top: 0 !important
      background: rgba(0, 0, 0, 0.4)
      padding: 160px var(--global-padding) 120px var(--global-padding)
      width: 65%

    .description
      opacity: 0.8

// 404 page
#twisted-error404

  #error404-message
    min-height: unset
    justify-content: center
    align-items: center
    text-align: center
    padding: calc(var(--global-padding) * 2)
    color: var(--white)
    font-family: var(--title-font)
    font-size: 20px

    i
      font-size: 50px
      display: block

    h3
      font-weight: 400
      margin: 30px 0 0 0

// Template Minimal Home
#twiste-minimal-template
  background: var(--color-one)
  background-blend-mode: overlay

  .container
    background: rgba(255, 255, 255, 0.2)
    background-size: cover
    backdrop-filter: blur(2px) grayscale(100%)
    position: absolute
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .info
      color: var(--white)

      h1
        font-family: var(--title-font)
        font-size: 90px
        text-align: center
        animation-name: zoomOut
        animation-duration: 0.8s

      .subtitle
        font-size: 30px
        text-align: center
        font-weight: 300
        font-style: italic
        margin-top: 5px
        animation-name: zoomOut
        animation-duration: 0.8s

      .blog-link
        font-weight: 300
        font-size: 20px
        height: calc(100% - var(--global-padding) - 30px)
        display: flex
        align-items: flex-end
        justify-content: center

        a
          color: var(--white)
          position: relative
          display: flex
          align-items: center

        a:after
          right: -20px
          font-style: normal
          font-variant: normal
          text-rendering: auto
          -webkit-font-smoothing: antialiased
          font-family: "Font Awesome 5 Free"
          font-weight: 900
          content: "\f054"
          position: absolute
          opacity: 0
          @extend .transition-4ms

        a:hover
          font-weight: 600

        a:hover:after
          opacity: 1
          right: -30px

  .social-links
    position: absolute
    bottom: var(--global-padding)
    width: 100%

    ul
      font-size: 25px
      text-align: center
      margin: 0 auto

      li
        display: inline-block
        margin: 0 6px

        a
          color: var(--white)

// Archive
#twisted-archive
  #posts
    min-height: unset

    #posts-container
      .post
        width: calc( 100vw / 5 - 35px )

// Template Twisted Configuration Page
.twisted-config-page
  background: url("../images/twisted-config-page.jpg") !important

// Effects
@keyframes aside
  from
    left: -5%

  to
    left: 0

@keyframes scrolltop
  from
    bottom: 0

  to
    bottom: 20px

@keyframes zoomOut
  from
    transform: scale(0.8)

  to
    transform: scale(1)

// Tablet
@media only screen and (max-width: 800px)
  \:root
    --global-padding: 30px

  #first-section
    .left-container
      h1
        font-size: 30px

      .description
        font-size: 14px

    .right-container
      .review
        display: none

  header
    nav
      ul.twisted-home-menu
        li:nth-child(1),
        li:nth-child(2)
          display: none

  #controls
    .twisted-sidebar-menu
      column-count: 2

  #posts
    #posts-container
      .post
        width: calc( 100vw / 3 - 35px )

  #contact
    display: block

    .left-container,
    .right-container
      width: 100%

    .left-container
      padding: var(--global-padding)
      text-align: center
      font-size: 25px

    .right-container
      padding: var(--global-padding) var(--global-padding) calc( var(--global-padding) * 2 ) var(--global-padding)

  footer
    .container
      .footer-links
        padding-left: 20px
        column-count: 2
        column-gap: 20px

  #twiste-minimal-template
    .container
      .info
        h1
          font-size: 60px

        .subtitle
          font-size: 23px

        .blog-link
          margin-top: 10px

  .social-icons-box
    li
      font-size: 14px
      margin-right: 5px

// Phone
@media only screen and (max-width: 500px)
  \:root
    --global-padding: 25px

  #first-section
    .left-container
      h1
        font-size: 30px

      .description
        font-size: 14px

    .right-container
      .review
        display: none

  header
    nav
      ul.twisted-home-menu
        li:nth-child(1),
        li:nth-child(2)
          display: none

  #posts
    #posts-container
      .post
        width: calc( 100vw / 2 - 40px )

  #contact
    display: block

    .left-container,
    .right-container
      width: 100%

    .left-container
      padding: var(--global-padding)
      text-align: center
      font-size: 25px

    .right-container
      padding: var(--global-padding) var(--global-padding) calc( var(--global-padding) * 2 ) var(--global-padding)

  footer
    .social-media
      padding: 15px var(--global-padding)
      top: -25px

      span
        display: none

      ul
        margin: 0 auto

    .container
      padding: 0 var(--global-padding) var(--global-padding) var(--global-padding)

      .footer-links
        padding-left: 30px
        column-count: 1
        column-gap: 0

  #twiste-minimal-template
    .container
      .info
        h1
          font-size: 40px

        .subtitle
          font-size: 20px

        .blog-link
          margin-top: 10px

.js
  .pgScroll
    top: 0 !important

  *
    animation: none !important

  #scroll-top
    display: block !important

  a.skip-main
    left: 0
    top: 0
    overflow: auto
    display: block
    opacity: 1
